<div class="masthead clearfix">
    <div class="inner">
      <h3 class="masthead-brand">McLean Carpenter</h3>
      <nav class="nav nav-masthead">
        <div><%= link_to "Home", root_path, class: 'nav-link' %></div>
        <div><%= link_to "About Me", about_me_path, class: 'nav-link' %></div>
        <div><%= link_to "Contact", contact_path, class: 'nav-link' %></div>
        <div><%= link_to "Blog", blogs_path, class: 'nav-link' %></div>
        <div><%= link_to "Portfolio", portfolios_path, class: 'nav-link' %></div>
      </nav>
    </div>
</div>