<div id="technologies">
  <div class="card card-block" >
    <div class="row d-flex flex-wrap align-items-center" style="margin-top: 2rem;">
    <div class="col-md-2">
    <%= image_tag 'about/react-logo.png', width: '120%' %>
    </div>
    <div class="col-md-2">
      <%= image_tag 'about/javascript-logo.png', width: '90%' %>
    </div>
    <div class="col-md-2">
      <%= image_tag 'about/typescript-logo.png', width: '100%' %>
    </div>
    <div class="col-md-2">
      <%= image_tag 'about/graphql-logo.png', width: '100%' %>
    </div>
      <div class="col-md-2">
        <%= image_tag 'about/ruby_logo.png', width: '100%' %>
      </div>
      <div class="col-md-2">
        <%= image_tag 'about/rails-logo.png', width: '100%' %>
      </div>
    </div>
    <div class="row d-flex flex-wrap align-items-center" style="margin: 0rem 1rem 2rem 1rem">
    <div class="col-md-2">
    <%= image_tag 'about/node-logo.png', width: '100%' %>
    </div>
    <div class="col-md-2">
      <%= image_tag 'about/postgresql.jpg', width: '100%' %>
    </div>
    <div class="col-md-2">
      <%= image_tag 'about/docker-logo.png', width: '100%' %>
    </div>
    <div class="col-md-2">
    <%= image_tag 'about/mui-logo', width: '100%' %>
    </div>
    <div class="col-md-2">
        <%= image_tag 'about/chakra-logo.png', width: '100%' %>
    </div>
    <div class="col-md-2">
        <%= image_tag 'about/mui-logo', width: '100%' %>
    </div>
  </div>
</div>
  </div>
</div>
