<div class="collapse" id="technologies">
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'about/ruby_logo.png', width: '100%', :class => "ruby_image" %>
      </div>
      <div class="col-md-3">
        <%= image_tag 'about/rails-logo.png', width: '100%' %>
      </div>
      <div class="col-md-3">
        <%= image_tag 'about/python-logo.png', width: '100%', :class => "python_image"  %>
      </div>
      <div class="col-md-3">
        <%= image_tag 'about/javascript-logo.png', width: '90%' %>
      </div>
    </div>
  </div>
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'about/postgresql.jpg', width: '100%', :class => "postgresql_image" %>
      </div>
      <div class="col-md-3">
        <%= image_tag 'about/mysql.png', width: '90%', :class => "mysql_image" %>
      </div>
      <div class="col-md-3">
          <%= image_tag 'about/anaconda.png', width: '100%', :class => "anaconda_image" %>
      </div>
      <div class="col-md-3">
          <%= image_tag 'about/jupyter_logo.png', width: '65%' %>
      </div>
    </div>
  </div>
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'about/hadoop-logo.png', width: '100%' %>
      </div>
      <div class="col-md-3">
          <%= image_tag 'about/react-logo.png', width: '140%' %>
      </div>
      <div class="col-md-3">
          <%= image_tag 'about/jquery_logo.png', width: '100%' %>
      </div>
      <div class="col-md-3">
          <%= image_tag 'about/node_logo.png', width: '85%' %>
      </div>
    </div>
  </div>
</div>
