<div class="app-card-container">
  <div class="card" style="width: 80rem;">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "headshot.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
      </div>

      <div class="col-md-8"">
        <h4 class="d-flex justify-content-center" style="padding-bottom: 2rem; padding-top: 1rem;">
          I am a Full Stack Software Engineer 
        </h4>

        <p style="padding-bottom: 2rem;">
        React Software Developer with two and a half years of development experience who excels working with others but can work independently to meet goals and deadlines. I really enjoy creating dynamic and beautiful applications with React and seeking ways to gain new skills as a developer. 
        Experienced with Javascript, React.js, Node.js, TypeScript , CSS, Ruby on Rails, and relational databases. Detail-oriented professional possessing excellent written and verbal communication skills, exemplary time management skills, and thrives in a team-oriented environment.
        </p>

        <%= render 'about_buttons' %>
        <%= render 'about_job_history' %>
        <%= render 'about_education' %>
        <%= render 'about_technologies' %>
      </div>
    </div>
  </div>
</div>
