<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "headshot.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
      </div>

      <div class="col-md-8">
        <p>
          I am a Data Scientist and Full Stack Engineer. 
        </p>

        <p>
          I love to build applications, work with data, and help clients achieve greater visibility with their data! My career path has been unconventional but 
          it has given me an opportunity to gain a varied and unique skillset. After graduate school, I spent the first five years of my career as a Geologist. A good geologist is a jack of all trades
          having a solid understanding of computer science, data analysis, technical writing, statistics, math, physics, and chemistry. <br>
          <br>
          In Graduate school, my thesis was heavily tilted towards data analysis and statistics. I learned how to code using python
          and matlab extensively for my thesis work. In my five years as a geologist I became skilled at technical writing, data collection, and analyzing data with statistical tools.  In 2018, I 
          made a decision to pivot my career towards data science and development. It has been a great decision as I have been able to learn so much and really do what I have a passion for.
        </p>

        <%= render 'about_buttons' %>
        <%= render 'about_job_history' %>
        <%= render 'about_education' %>
        <%= render 'about_technologies' %>
      </div>
    </div>
  </div>
</div>
